@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
{% load static %}

html, body{
  background-image: url(/static/css/img/bg.png);
  background-repeat:space;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #222;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
   font-size: 1.1em !important;
}
.padding{
  padding-bottom: 2rem;
}
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  border-top: 2px solid darkgray;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-html5 {
  color: orangered;
}
.fa-bold {
  color: darkviolet;
}
.fa-css3{
color: #5b80b2;
}
.fa-python{
  color: #fff21c;
}
.fa-html5, .fa-bold, .fa-css3, .fa-python{
  font-size: 4em;
  margin: 1rem;
}
#dj_img{
   width: 40%;
}
input{
  border-radius: 5px;
}
textarea {
  width: 95%;
  height: 2em;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr .light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}


/*---Media Queries --*/
@media (max-width: 1200px) {

  }
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








