{% extends 'car/base.html' %}
{% block content %}
<!--- Welcome -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4"> Welcome to Fabulist</h1>
        </div>
        <hr>
        <div class="col-12">
            <p>This is a magic place to unleash your imagination!</p>
            <p>You can develop someone`s story with your mind-generator.</p>
            <p>Or just create something new and unpredictable funny. Enjoy!</p>
        </div>
    </div>
</div>
<!--- Technologies -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Used stack of technologies</h1>
        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
            <i class="fab fa-html5"></i>
            <h3>HTML5</h3>
            <p>HTML5 is the latest evolution of the standard that defines HTML.</p>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
            <i class="fas fa-bold"></i>
            <h3>BOOTSTRAP4</h3>
            <p>The world’s most popular framework for building responsive, mobile-first sites.</p>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
            <i class="fab fa-css3"></i>
            <h3>CSS3</h3>
            <p>CSS3 is the latest evolution of the Cascading Style Sheets language and aims at extending CSS2.1.</p>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
            <i class="fab fa-python"></i>
            <h3>Python</h3>
            <p>The world's fastest growing and most popular programming language used by software engineers, analysts, data scientists, and machine learning engineers alike.</p>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
            <img id="dj_img" src=/static/css/img/dj.jpg alt="Django" class="img-fluid" alt="Responsive image" >
            <h3>Django</h3>
            <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</p>
        </div>
    </div>
    <hr class="my-4">
</div>
<!--- Team -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Meet the team</h1>
        </div>
    </div>
</div>
<!--- Team Cards -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src=/static/css/img/dan.jpg>
                <div class="card-body">
                    <h4 class="card-title">Daniel Lotsman</h4>
                    <h3>//a.k.a CarDan</h3>
                    <p class="card-text">Team Leader. Technical leader. Technical support. Backend, architecture, modeling</p>
                </div>
            </div>
        </div>
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src=/static/css/img/helen.jpg>
                <div class="card-body">
                    <h4 class="card-title">Helen Uvarenko</h4>
                    <h3>//a.k.a Otvarenko</h3>
                    <p class="card-text">Project Manager. Business Development Manager. Backend, logic, UI.</p>
                </div>
            </div>
        </div>
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src=/static/css/img/slav.jpg>
                <div class="card-body">
                    <h4 class="card-title">Viacheslav Kravchenko</h4>
                    <h3>//a.k.a SlavcoK</h3>
                    <p class="card-text">Project Architect. Affiliate Manager. Customer service representative.
                    Frontend, integration, backend</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Footer -->
<footer></footer>
<script>
$(document).ready(function(){
    $("footer").html("<div class=\"container-fluid padding\">\n" +
        "        <div class=\"row text-center\">\n" +
        "            <div class=\"col-lg-12\">\n" +
        "                <hr class=\"light\">\n" +
        "                <p>Motivated by FRECS.</p>\n" +
        "                <p>Powered by passion</p>\n" +
        "                <p>Contact us via telepathy</p>\n" +
        "            </div>\n" +
        "        </div>\n" +
        "    </div>");
});
</script>
{% endblock %}
