{% extends "car/base.html" %}

{% block content %}
<div class="container-fluid">
    <p>Total amount of stories: [{{ full_statistic.total_stories }}]</p>
    <p>Amount of finished stories: [{{ full_statistic.finished_stories }}]</p>
    <p>Amount of not finished stories: [{{ full_statistic.unfinished_stories }}]</p>
    <p>The best contributor: [{{ full_statistic.best_user.username }}] with [{{ full_statistic.best_count }}] commits</p>
    <p>The worst contributor: [{{ full_statistic.worst_user.username }}] with [{{ full_statistic.worst_count }}] commits</p>
    <hr>
    {%for ob in full_statistic.test%}
    <p>There are [{{ ob.dcount}}] stories with [{{ ob.count  }}] lines</p>
    {%endfor%}
</div>
{% endblock %}
