{% extends 'car/base.html' %}

{% block content %}
<div class="container-fluid">
    <h2>Continue story:</h2>
    <p>Previous contributor: {{ last_user }}</p>
    <p>Lines count: {{ story_rand.count  }}</p>
    <p>Previous line: {{ story_rand.last_added_text }} </p>
    <p>Limitation is 140 symbols.</p>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Continue story</button>
    </form>
</div>
{% endblock %}
