{% extends "car/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
<div class="container cd-flex flex-column justify-content-center flex-fill">
    <div class="p-2 row">
        <div class="col-xl-12">
    <form class="p-2" action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
     <button type="submit" class="btn btn-warning btn-block">Login</button>
    </form>
            <br>
            <p class="text-center">-- OR --</p>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">
                Google <i class='fab fa-google'></i>
            </a>
             <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">
                Facebook <i class='fab fa-facebook'></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}